* {
  margin: 0%;
  padding: 0%;
  border: 0%;
  box-sizing: border-box;
}
.container {
  width: 350px;
  border-radius: 15px;
  background-color: #15263f;
  padding: 24px;
}
.logo {
  max-width: 100%;
  border-radius: 8px;
}
h1 {
  font-family: "Outfit";
  font-size: 22px;
  color: white;
  margin-bottom: 26px;
  margin-top: 24px;
}
.first-p {
  color: #8bacd9;
  font-family: "Outfit";
  font-size: 18px;
  line-height: 26px;
  width: 302px;
  margin-bottom: 26px;
}
body {
  background-color: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone1 {
  display: block;
}
.text1 {
  display: inline-block;
  color: #00fff8;
  width: 75px;
  margin-right: 90px;
}
.icone2 {
  display: inline-block;
}
.text2 {
  display: inline-block;
  color: #8bacd9;
  width: 73px;
}
.line {
  color: #2e405a;
  width: 302px;
  height: 1px;
}
.men {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
}
.name {
  display: inline-block;
  margin-left: 16px;
  color: #8bacd9;
  font-size: 16px;
  vertical-align: middle;
}
span {
  margin-left: 5px;
  color: white;
}
